.works {
  // .works__item

  &__item {
    padding: 0px 0px 30px 0px;
    margin: 0px 0px 30px 0px;
    border-bottom: 1px solid #e0e0e0;
    &:last-child {
      margin-bottom: 0;
    }
    @media (min-width: $md3) {
      display: flex;
      align-items: flex-start;
    }
  }

  // .works__image

  &__image {
    flex: 0 0 246px;
    display: block;
    border-radius: 6px;
    overflow: hidden;
    min-height: 180px;
    @media (max-width: $md3) {
      margin: 0px 0px 17px 0px;
      padding: 0px 0px 60% 0px;
    }
  }

  // .works__body

  &__body {
    flex: 1 1 auto;

    @media (min-width: $md3) {
      padding: 0px 0px 0px 18px;
    }
  }

  // .works__title

  &__title {
    color: inherit;
    display: inline-block;
    font-size: 30px;
    font-weight: 700;
    line-height: calc(44 / 30) * 100%;
    margin: 0 0 15px 0;
    @media (max-width: $md3) {
      font-size: 24px;
    }
  }

  // .works__info

  &__info {
    display: flex;
    align-items: center; //*Выравниваем горизонтально
    margin: 0 0 15px 0;
  }

  // .works__year

  &__year {
    background: #142850;
    border-radius: 16px;
    height: 25px;
    padding: 0px 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 900;
    font-size: 18px;
  }

  // .works__category

  &__category {
    color: #8695a4;
    font-size: 20px;
    margin: 0 0 0 25px;
  }

  // .works__text

  &__text {
  }
}
